.header {
  position: static;
  min-height: @header-mobile-height;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    min-height: @header-tablet-height;
  }
}

.header__container {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  z-index: 2;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
  }
}

.header__logo-wrapper{
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  display: block;
  box-sizing: border-box;
  line-height: 0;
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.header__title {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    min-width: 126px;
  }
}

.header__nav {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: top .4s ease-in-out, opacity .4s ease-in-out;
  overflow: auto;
  width: 100%;
  z-index: -1;

  @media (min-width: @tablet-width) {
    position: static;
    display: flex;
    justify-content: space-around;
    opacity: 1;
  }
}

.header__nav--opened {
  top: @header-mobile-height;
  opacity: 1;
}

.header__nav--closed .header__nav-list {
  @media (max-width: @tablet-width - 1) {
    display: none;
  }
}

@media (max-width: @tablet-width - 1) {
  .header__container--nojs {
    position: relative;
    display: grid;
    grid-template-areas:
    'logo usernav'
    'nav nav';
  }

  .header__container--nojs .header__logo-wrapper {
    grid-area: logo;
  }

  .header__container--nojs .header__nav-user {
    grid-area: usernav;
  }

  .header__container--nojs .header__nav {
    grid-area: nav;
    position: static;
  }

  .header__container--nojs .header__nav-button {
    display: none;
  }
}

.header__nav-button {
  position: relative;
  display: block;
  padding: 10px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__nav-toggle {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__nav-hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 16px;
  height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.4s ease-in-out;
  z-index: -1;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__nav-hamburger-line {
  display: block;
  height: 1.5px;
  width: 100%;
  background: #333333;
}

.header__nav-toggle:hover ~ .header__nav-hamburger {
  opacity: 0.6;
}

.header__nav-toggle:focus ~ .header__nav-hamburger {
  opacity: 0.6;
}

.header__nav-toggle:active ~ .header__nav-hamburger {
  opacity: 0.3;
}

.header__nav-hamburger-line--1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.header__nav-hamburger-line--2 {
  transform-origin: 0% 0%;
  transition: transform 0.1s ease-in-out;
}

.header__nav-hamburger-line--3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.header__nav-toggle:checked ~ .header__nav-hamburger .header__nav-hamburger-line--1 {
  transform: rotate(45deg) translateX(2px) translateY(-2px);
}

.header__nav-toggle:checked ~ .header__nav-hamburger .header__nav-hamburger-line--2 {
  transform: scaleY(0) translateX(-5px);
}

.header__nav-toggle:checked ~ .header__nav-hamburger .header__nav-hamburger-line--3 {
  transform: rotate(-45deg) translateX(2px) translateY(2px);
}

.header__nav-list {
  flex-direction: column;

  top: 0;
  left: 0;
  right: 0;

  list-style: none;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  z-index: -1;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.header__nav-item {
  @media (max-width: @tablet-width - 1) {
    border-top: 1px solid #F0EBFF;

    &:last-child {
      border-bottom: 1px solid #F0EBFF;
    }
  }
}

.header__nav-item--current .header__nav-link {
  @media (min-width: @tablet-width) {
    box-shadow: inset 0 -2px @base-primary;
  }
}

.header__nav-link {
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  padding: 20px;

  @media (min-width: @tablet-width) {
    padding: 32px 20px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.header__nav-user {
  margin-left: auto;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.header__nav-user-list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header__nav-user-link {
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 0;
  letter-spacing: 0.02em;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 22px;

  @media (min-width: @tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__nav-user-icon {
  @media (min-width: @desktop-width) {
    margin-right: 8px;
  }
}

.header__nav-user-title {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
