.price-form__scale {
  margin-bottom: 25px;
}

.price-form__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-form__input {
  display: block;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: @base-gray;
  padding: 7px 10px;
  width: 118px;
  height: 38px;
  border-radius: 4px;
  border: 2px solid @primary-lighter;
  appearance: none;
  -moz-appearance: textfield;
}

.price-form__input::-webkit-outer-spin-button,
.price-form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
